
	/*ayuda*/


.tab-acordeon .dudas{
  background: #fff;
  border-top:none;
  border-left: none;
  border-right: none;
  width: 100%;
  text-align:left;
  outline: 0px!important;
}


.tab-acordeon .panel-heading .chevron:after {
    content: url(../images/arrow-up.png);
    float: right;
    margin-top:-20px;

}
.tab-acordeon .panel-heading.collapsed .chevron:after { 
    content:  url(../images/arrow-down.png);
     float: right;
     margin-top:-20px;
}  
.tab-acordeon .ayuda .txt-ayuda{
 
  font-size: 16px;
}
.tab-acordeon .ayuda .txt-ayuda p{
   padding:0px 20px;
}
.tab-acordeon .ayuda{
  text-align: left;
  color: #666666;
  font-size: 16px;
}
.tab-acordeon .ayuda .panel-heading{
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 3px;
   background-color: transparent;
   font-size: 16px;
}
.tab-acordeon .ayuda .collapsed{
 
  font-weight: 400;
}
.tab-acordeon .ayuda .collapse.in{
  
}





.tab-acordeon .txt-ayuda-marg{
  width: 100%;
  padding-right: 30px;
}

.tab-acordeon .ayuda h3 {color :#333; font-size:17px; border-bottom:1px solid #dfdfde; padding-bottom:15px;font-weight: 600;} 

.tab-acordeon .ayuda h3:before {
    content: "";
      
    padding-right:15px;
    background: url(../images/caret-flecha.jpg) no-repeat;
    background-position-y: center;
  }


/* tab */

.tab-acordeon .nav-tabs.nav-justified  {
  width: 70%;
  margin: 93px auto 80px;
}



.tab-acordeon .nav-tabs.nav-justified a {
    border: 2px solid #ddd;
    background-color: #fff;
    color:#fff!important;
     border-radius: 12px 12px 0 0;
     color: #868686!important;
     margin: 0 2px;
}


.tab-acordeon .nav-tabs.nav-justified > .active > a, .tab-acordeon .nav-tabs.nav-justified > .active > a:hover,.tab-acordeon .nav-tabs.nav-justified > .active > a:focus {
  
    background-color: #d32929;
    color:#fff!important;
     border-radius: 12px 12px 0 0;
     border: 2px solid #d32929!important;

}


.nav-tabs.nav-justified > .active > a.ayuda-multicaja:before{
   content: "";      
    padding-left:45px;
    padding-top:5px;
   background: url(../images/iconos-tab.png) no-repeat;
    background-position-y:-223px;
    background-position-x:0px;
}


.nav-tabs.nav-justified > .active > a.ayuda-iswitch:before{
   content: "";      
    padding-left:45px;
    padding-top:5px;
   background: url(../images/iconos-tab.png) no-repeat;
    background-position-y:-279px;
    background-position-x:0px;
}



 .nav-tabs.nav-justified > .active > a.ayuda-alimentacion:before{
   content: "";      
    padding-left:45px;
    padding-top:5px;
   background: url(../images/iconos-tab.png) no-repeat;
    background-position-y:-333px;
    background-position-x:0px;
}


.nav-tabs.nav-justified > .active > a.ayuda-mpos:before{
   content: "";      
    padding-left:45px;
    padding-top:7px;
   background: url(../images/iconos-tab.png) no-repeat;
    background-position-y:-393px;
    background-position-x:0px;
}



.gris-tab2 {background-color:  #dddbdb;}

.tab-acordeon {margin-bottom: 160px;}



.tab-acordeon .txt-ayuda{
 
  float:left!important;
  
 width:100%;
    padding-right: 40px;
     padding-left: 10px;
      padding-bottom: 20px;
}

.tab-acordeon .tabl-comisi td{ 	text-align: left; padding-left:26px!important; }

.tab-acordeon .ayuda{
  margin-top: 0px;
}

.tab-acordeon .tabl-comisi{
  margin-top: 20px;
   margin-left: 20px;

}


.tab-acordeon .main-acordeon .panel-group .panel-heading + .panel-collapse > .panel-body,
.tab-acordeon .main-acordeon .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none!important;
}



}
.tab-acordeon .main-acordeon .panel-body ul {padding: 50px; }
.tab-acordeon .main-acordeon .panel-body li {margin-left: 15px; margin-bottom:10px; }
.tab-acordeon .panel-body li p { padding: 0px 50px 0px 0px; }
.tab-acordeon .panel-body  p { padding: 0px 50px 0px 0px; }

.tab-acordeon .titulo-ayuda h2 {font-weight: 600}

.ayuda-multicaja:before {
content: "";      
    padding-left:45px;
    padding-top:5px;
   background: url(../images/iconos-tab.png) no-repeat;
    background-position-y:-4px;
     background-position-x:0px;
  }


.ayuda-iswitch:before {
    content: "";      
    padding-left:45px;
    padding-top:5px;
   background: url(../images/iconos-tab.png) no-repeat;
    background-position-y:-60px;
     background-position-x:0px;
  }

.ayuda-alimentacion:before {
    content: "";      
    padding-left:45px;
    padding-top:5px;
   background: url(../images/iconos-tab.png) no-repeat;
    background-position-y:-113px;
     background-position-x:0px;
  }

.ayuda-mpos:before {
    content: "";      
    padding-left:45px;
    padding-top:7px;
     padding-bottom: 2px;
   background: url(../images/iconos-tab.png) no-repeat;
    background-position-y:-170px;
     background-position-x:0px;
  }



.tab-acordeon .nav-tabs.nav-justified li {
  width: 25%!important;
  
 
}
.tab-acordeon .bullet {
background: url(../images/bullet.jpg) no-repeat;
background-position-x: 5px ;
background-position-y: 10px ;

margin-left:16px;}


.tab-acordeon .txt-ayuda {text-align: left!important}


@media (max-width: 600px) {
 .tab-acordeon  .nav-tabs.nav-justified  {
  width: 100%;
  margin: 15px auto 50px;
}


.tab-acordeon .nav-tabs.nav-justified a {
    
     border-radius: 0px!important;
    
}

.tab-acordeon .ayuda{

 width:90%;
}

.tab-acordeon .nav-tabs.nav-justified li {
  width: 100%!important;
  
 
}


}
	/*fin ayuda*/