.col-center{
    float: none;
    margin: 0 auto;
}


.proveedores-img{
	padding-left: ;
	width: 100%;
	max-width: 433px;
}

.proveedores2-img {width:100%; max-width: 449px; display: block; margin: 70px auto 0px;}

.m-top-70 {margin-top: 70px;}

.pago-proveedores img {width:100%; max-width: 433px; display: block; margin: 50px auto;}


p.letra-chica-proveedores{
    text-align: center;
    color: #666;
    
    font-size: 15px;
    margin-top: 50px;
    font-weight: 600;
    padding-left: 35px;
    padding-top: 0px;
    margin-bottom: 30px;
}

p.letra-chica-proveedores:before{
    text-align: center;
    content: "";
      
    padding-right:15px;
    background: url(../images/exclamacion.jpg) no-repeat;
    background-position-y: center;
    padding-left: 15px;
}



.linea{
    border-top: 1px solid #c9c9c9;
    margin-top: 60px;
    margin-bottom: 30px;
    
}

.bold {font-weight: 600;}

.tips {font-size: 17px;}



.seccion-proveedores p{
	font-size: 17px;
    color: #666;
    padding-top: 10px;
    text-indent: -0.6em;
}
.seccion-proveedores{
	padding-top: 60px;
}



.seccion-proveedores p{
	font-size: 17px;
    color: #666;
    padding-top: 10px;
    text-indent: -0.6em;
}
.seccion-proveedores{
	padding-top: 40px;
}


.txt-prove-oscr{
	text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 23px;
    font-style: italic;
    line-height: 30px;
    margin-top: 0px!important;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 30px;
}
.txt-prove-oscr span{
    font-size: 45px;
    display: block;
}

.txt-prove-oscr span:before{
    content: "";
      
    padding-left:60px;
    background: url(../images/aprovecha.jpg) no-repeat;
    background-position-y: center;
  }


p.pago {font-size: 15px; color:#666;}

p.pago:before{
    content: "";
      
    padding-left:15px;
    background: url(../images/arrow.jpg) no-repeat;
    background-position-y: center;
  }

p.pago span {color:#cb2d2d;}

.tabla-proveedores .tabl-comisi{
	margin-top: 0px;
	margin-bottom: 30px;
}



.tabla-proveedores .caja-texto-descrip{
	width: 100%;
	max-width: 238px;
    padding-bottom:20px;
}

p.texto-pos {font-size: 25px; font-style: normal;}

h2.pos-free-bold {font-size: 38px; font-weight: 800; font-style: normal;}

.txt-pos-free-proveedores p{
    font-size: 16px;
    color: #838383;
    font-style:normal;
}

.pos-proveedores h2 {
  margin-top: 0px;
  margin-bottom: 0px;

}


.pad-95 {padding-bottom: 95px; padding-top: 95px;}

.linea-division{
    border-top: 1px solid #c9c9c9;
     padding-top: 25px;
      
}

.logo-cerveceria {
    width: 100%; 
    max-width: 326px;
    margin-top: 20px;    
}

.banner-pago-proveedores{
background: url(../images/banner-pago-proveedores.jpg) no-repeat center top ;
margin-top: 0px;
text-align: center;
background-attachment: relative;
background-position: center center;
min-height: 297px;
width: 100%;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
/* background-size: cover; */
}

.b-bottom {
    border-bottom: 1px solid #c9c9c9; margin-bottom: 30px;
}


.pos-proveedores .col-md-10, .pos-proveedores .col-md-11{
padding-left: 0px!important;

}

.pedidos-proveedores-img {
width: 100%;
max-width: 372px;

}

.pos-free-img{
    margin-top: 23px;
    width: 100%;
    max-width: 247;
}