body{
	background: #fff;
	font-family: 'Titillium Web', sans-serif!important;
	position: relative;
}
html,
body {
  height:100%;
}
a, a:hover, a:link, a:visited{
	text-decoration: none!important;
}
a.rojo, a.rojo:hover, a.rojo:link, a.rojo:visited{
text-decoration: none;
color: #cc0000;
}
.affix {
      top:0px;
      width: 100%;
      z-index: 9999 !important;
  }
  
.affix .navbar-header .navbar-brand{
    display: block;
  }
    .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
    .affix ~ .container {
     position: relative;
     top: 50px;
  }
 .navbar-header .navbar-brand{
    display: none;
  }
  .navbar {
      margin-bottom: 0px!important;
          border: none!important;
  }


  #section1 {padding-top:65px; padding-bottom:75px; height:auto;}
  #section2 {padding-top:65px; padding-bottom:0px; height:auto;}
  #section3 {padding-top:65px; padding-bottom:20px; height:auto;}
  #section4 {padding-top:65px; padding-bottom:110px; height:auto;}
  #section5 {height:auto;}

a.dropdown-toggle{
  color: #4a4a4a;
  font-weight: 600;
}
/*dropdown top*/
.menu-principal > .open > a, .menu-principal > .open > a:hover, .menu-principal > .open > a:focus {
    background-color: #f9f9f9!important;
}

.menu-principal li .dropdown-menu > li > a {
    display: block;
    clear: both;
    font-weight: 600;
    color: #333;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.menu-principal .dropdown-menu > li > a:hover {
    color: #fff!important;
    background: #adadad!important;
}

.menu-principal .dropdown-menu{
-webkit-box-shadow: none!important;
-moz-box-shadow: none!important;
box-shadow: none!important;
border:1px solid #e9e9e9!important;
background: #f9f9f9;
}

/*dropdown header*/
.menu-header > .open > a, .menu-header > .open > a:hover, .menu-header > .open > a:focus {
    background-color: #ffffff!important;
    border-bottom: 3px solid #cc0000!important;
}

.menu-header li .dropdown-menu > li > a {
    display: block;
    clear: both;
    font-weight: 600;
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
}
.menu-header .dropdown-menu > li > a:hover {
    color: #fff!important;
    background: #adadad!important;
}

.menu-header .dropdown-menu{
-webkit-box-shadow: none!important;
-moz-box-shadow: none!important;
box-shadow: none!important;
border:1px solid #e9e9e9!important;
background: #ffffff;
} 
.menu-header .activar, .menu-header li a:hover, .menu-header li a:visited{
	border-bottom: 3px solid #cc0000;
}
.menu-header li ul li a:hover, .menu-header li ul li a:visited{
	border-bottom: none;
}
.menu-header .activar:hover{
	border-bottom: none;
}
*{
	margin:0px auto;
	padding: 0px;
}
/*menu principal*/
.bot-principal{
	background: #f9f9f9;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #d8d8d8;
}
ul.menu-principal{
	list-style-type: none;
	padding: 0px;
	width: 100%;
}
ul.menu-principal li{
	display: inline;
	font-weight: 600;
	font-size: 10px;
	color: #737373;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 13px;
	height: 40px;
}
ul.menu-principal li a{
	text-decoration: none;
    color: #737373!important;
    line-height: 12px;
}
ul.menu-principal li.activa{
	background: #fff;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
.menu-principal.nav-tabs.nav-justified > li > a {
    border-bottom: none;
    border-radius: 0px;
        padding: 0px;
}
.menu-principal.nav-tabs.nav-justified > li > a :hover{
    background-color: transparent;
}
ul.menu-principal > li > a:hover, ul.menu-principal > li > a:focus {
    text-decoration: none!important;
    background-color: rgba(238, 238, 238, 0)!important;
    border:0px!important;
    outline: 0px!important;
}
.nav-tabs > li > a {
    border: 0px solid transparent!important;
}
/*header logo - menu - boton*/
.logo-comercios{
	height: 108px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn-rojo, .btn-rojo:link, .btn-rojo:visited{
	background: #cc0000;
	font-size: 14px;
	font-weight: 700!important;
	color: #fff!important;
	  outline: 0px!important;	
}
.btn-rojo:hover{
	background:#990000;
	font-size: 14px;
	font-weight: 700!important;
	color: #fff!important;
	  outline: 0px!important;
}
.border-btn-rojo{
	border-bottom: 3px solid #990000!important;
}
.border-btn-rojo:hover{
	border-bottom: 3px solid #7a0d0d!important;
}
/*menu header*/
ul.menu-header li a{
font-size: 13px;
font-weight: 600;
color: #4a4a4a!important;
}
.padd-cero{
	padding: 0px!important;
}
.menu-primero{
	z-index: 99;
}
/*márgenes*/
.marg-top-70{
	margin-top: 70px;
}
.marg-top-50{
	margin-top: 50px;
}
.marg-top-40{
	margin-top: 40px;
}
.marg-top-10{
	margin-top: 10px;
}
/*Slide*/
.navegar-banner{
	background: rgba(0, 0, 0, 0.50);
    margin-top: -33px;
    z-index: 99;
    position: relative;
    height: 30px;
}
.bann-img{
margin-top: 0px;
text-align: center;
background-attachment: relative;
background-position: center center;
min-height: 360px;
width: 100%;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
/* background-size: cover; */
}
#myCarousel .nav a small
{
    display: block;
}
.carrusel-banner .nav > li > a{
    text-decoration: none;
    font-size: 13px;
    color: #fff;
}
.carrusel-banner .nav > li > a:hover, .carrusel-banner .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.59);
    font-size: 13px;
    color: #fff;
     border-radius: 0px!important;
}
.nav-pills>li.active a
  { background-color: rgba(0, 0, 0, 0.59); }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
   background-color: rgba(0, 0, 0, 0.59)!important;
   border-bottom: 3px solid #cc0000;
   border-radius: 0px!important;
}  
.carrusel-banner .nav > li > a {
    position: relative;
    display: block;
    padding: 6px 15px;
}
.carousel{
	margin-bottom: 3px;
}
.texto-banner{
	margin-top: 55px;
}
.texto-banner h2{
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	color: #333333;
	font-size: 32px;
	margin-top: 10px;
}
.texto-banner h2 span{
	color: #cc0000;
}
.logo-mpos{
	height: 37px;
}
/*login*/
.login-user{
	background: #fff;
	z-index: 99;
	text-align:left;
	padding: 36px 42px 0px!important;
}
.login-user h4{
	font-size: 17px;
	text-align: center;
	font-weight: 600;
	margin-top:0px!important ;
}
.login-user p{
	text-align: right;
	margin-top: 5px;
}
.img-login{
	height: 23px;
	margin-right: 10px;
}
input[type=text] {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    font-size: 15px;
}
input[type=password] {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0px 0px;
    box-sizing: border-box;
    font-size: 15px;
}
.btn-login{
	padding-top: 8px;
	padding-bottom: 8px;
	border:0px!important;
}
.foot-login{
	border-top: 1px solid #d8d8d8;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 18px;

}
.caja-tx-banner{
	position: absolute;
	margin-left:auto!important;
	margin-right:auto!important;
	left:0;
	right:0;
	top: 6px;
}
pre {
    display: block;
    padding: 0px!important;
    margin: 0 0 10px;
    font-size: 32px!important;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: rgba(245, 245, 245, 0)!important;
    border: 0px solid #ccc!important;
    border-radius: 0px!important;
}
/*navbar*/
.navbar-default {
    background-color: rgba(248, 248, 248, 0)!important;
    border-color: rgba(231, 231, 231, 0)!important;
}
.nav-fix {
    border: none!important;
}
.nav-fix {
    border-bottom: 2px solid #f0f0f0!important;
}
#myNavbar2 .navbar-nav {
    float: right!important;
    margin: 0;
}
 .nav-fix .navbar-nav > .active > a,  .nav-fix .navbar-nav > .active > a:hover,  .nav-fix .navbar-nav > .active > a:focus {
    text-decoration:none;
    border-bottom: 3px solid #cc0000;
    color: #6d6d6d;
    background-color: transparent!important;
    width: auto;
}
 .nav-fix .navbar-nav > li > a:hover,  .nav-fix .navbar-nav > li > a:focus {
    text-decoration:none;
    border-bottom: 3px solid #cc0000;
    color: #6d6d6d;
    background-color: transparent!important;
    width: auto;
}
 .nav-fix .navbar-nav > li > a {
        text-decoration:none;
    border-bottom: 3px solid rgba(204, 0, 0, 0);
    color: #6d6d6d;
    background-color: transparent!important;
    padding-top: 25px;
}

 .nav-fix .navbar-brand {
	border-bottom: 3px solid #971111!important;
    color: #FFF!important;
    background: #cc0000!important;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
      font-weight: 600!important;
     font-size: 14px!important;
     min-width: 200px!important;
     margin-top: 10px!important;
}
 .nav-fix:hover .navbar-brand:hover {
background-color: #990000!important;
border-bottom: 3px solid #7a0d0d!important;
color: #fff!important;
text-decoration: none!important;
}
.nav-fix{
	background: #f9f8f8!important;
}
/*colores fondo*/
.gris-oscuro{
	background: #313131;
}
.gris-claro{
	background: #f8f8f8;
}
.gris-oscuro-dos{
	background: #2a2a2a;
}
/*FOOTER*/
.redes-sociales{
	float: left;
	height: 30px;
	margin-right: 10px;
}
#footer{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
}
.caja-redes{
	font-weight: 300;
	color: #bdbdbd; 
	margin-top: 50px;
	padding-right: 30px!important;
}
.txt-redes{
	text-align: left;
	float:left;
	margin-left: 35px;
}
.direccion span, .ayuda span, .sub-footer span{
	font-weight: 600;
	font-size: 16px;
	color: #fff;
}
 .sub-footer span{
	margin-left: 10px;
}
.direccion{
	margin: 30px auto 0px!important;
    width: 280px;
}
.ayuda{
	margin-top: 50px;
}
.sub-footer{
	font-weight: 300;
	color: #bdbdbd;
	font-size: 12px;
	text-align: center;	
	margin-top: 40px;
	margin-bottom: 10px;
}
.linea-footer{
	height: 22px;
	border-right: 1px solid #535353;
	width: auto;
	padding: 0 10px;
	display: inline;
}
.txt-ayuda{
	display: inline;
	text-align: left;
	float:right;
	margin-right: 35px;
}
.rig{
	float: right;
}
/*Secciones*/
/*5 COL*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
position: relative!important;
min-height: 1px!important;
padding-right: 10px!important;
padding-left: 10px!important;
}
.col-xs-5ths {
width: 20%!important;
float: left!important;
}
@media (min-width: 768px) {
.col-sm-5ths {
width: 20%!important;
float: left!important;
}
}
@media (min-width: 992px) {
.col-md-5ths {
width: 20%!important;
float: left!important;
}
}
@media (min-width: 1200px) {
.col-lg-5ths {
width: 20%!important;
float: left!important;
}
}
/*fin 5 col*/
.titulo h2{
	text-align: center;
	font-weight: 600;
	font-size: 29px;
	color: #333;
	margin-bottom: 0px!important;
}
.titulo p{
	text-align: center;
	font-size: 21px;
	color: #666;
}
.titulo-simula h2{
	text-align: center;
	font-weight: 600;
	font-size: 29px;
	color: #333;
	margin-bottom: 15px!important;
}
.txt-simula h3{
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	color: #333;
	margin-bottom: 15px!important;
}
.titulo-simula p, .txt-simula p{
	text-align: center;
	font-size: 18px;
	color: #666;
}
.txt-simula{
	padding: 20px 200px;
}
.borde-serv{
	border:1px solid #d9d9d9;
}
.borde-serv:hover{
	border:1px solid #7f7f7f;
}
.servicios{
	text-align: center;
	font-size: 16px;
	color: #666;
	padding:36px 15px 15px;
	height: 220px;
}
.serv1{
	height: 63px;
	margin-bottom: 23px;
}
.serv2{
	height: 71px;
	margin-bottom: 15px;
}
a.servc, a.servc:hover, a.servc:link,  a.servc:visited {
	text-decoration: none;
}
.comercio-cliente{
	height: 126px;
}
.mas-clientes h2{
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	font-size: 28px;
	font-style: italic;
	line-height: 42px;
}
.mas-clientes h2 span{
	font-weight: 700!important;
	font-size: 45px;
	font-style: italic;
}
.btn-lineal{
	border:2px solid #f0f0f0;
	color: #fff;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	padding: 15px;
	width: 100%;
	max-width:244px; 
	margin-top: 30px;
} 
.cte-comercio{
	padding-top: 25px;
	padding-bottom: 30px;
}
.img-comerc{
	height: 60px;
	float: left;
	margin-right: 15px;
}
.servi-comi strong{
	font-size: 18px;
	color: #4c4c4c;
}
.servi-comi{
	font-size: 16px;
	color: #666;
	height: 65px;
	line-height:20px;
	display: table;
}
.servi-comi p{
	display: table-cell;
	vertical-align: middle;
}
.caj-ser-izq{
	padding-left: 55px;
}
.caj-ser-der{
	padding-left: 20px;
	padding-right: 30px;
}
.img-ayuda{
	height: 54px;
	margin-right: 15px;
}
.caj-ayuda{
	display: table;
	padding: 30px 20px 24px;
}
.caj-ayuda p{
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	color: #333;
	text-align: center
}
.suprimir-linea-rig{
	border-right: 0px!important;
}

.hover-li:hover{
		border-right:1px solid #d9d9d9;
		border-top:1px solid #d9d9d9;
		border-left:1px solid #d9d9d9;
}
/*breadcrumb*/
.breadcrumb a{
	color:#cc0000!important;

}
.breadcrumb{
   background: #fff !important;
margin-bottom: 14px !important;
margin-top: 5px;

}
 .btn-ra .radio-inline input[type="radio"]{
    margin-left: 5px;
    margin-top:7px;
}
 .btn-ra label.radio-inline {
 	font-size: 17px;
 }
 .margin-radio-btn{
 	margin-right: 36px;
 }
 /* ACORDEON  */
 /*Ayuda*/
 .dudas{
  border-top:none;
  border-left: none;
  border-right: none;
  width: 100%;
  text-align:left;
  outline: 0px!important;
  font-size: 17px;
  font-weight: 600;
  padding: 5px 0px;
}
.txt-simula-marg{
  width: 100%;
  padding-right: 30px;
}
.selec-simula{
	margin-bottom: 20px;
}
  /*Acordeon con cambio de estado con base de Bootstrap */
}
.panel-heading .chevron:after {
    content: url(../images/up.png);
    margin-top:-20px;

}
.panel-heading.collapsed .chevron:after { 
    content:  url(../images/down.png);
     margin-top:-20px;
}  
.simula .txt-simula3 p{
  padding: 20px 20px 30px;
}
.simula{
  text-align: left;
  color: #666666;
  font-size: 18px;
  padding-top:55px;
  padding-bottom: 70px;
}
.simula .panel-heading{
  padding-top: 12px;
  padding-bottom: 12px;
}
input.simula{
	padding-top:10px;
	padding-bottom:10px;
	border: 1px solid #d2d2d2;
	font-size: 17px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.btn-simula{
	padding-top: 12px!important;
	padding-bottom: 12px!important;
	border:0px!important;
	margin: 20px 0px 20px 0px!important;
}
.panel-heading {
    padding: 10px 0px!important;
}
/* fiN ACORDEON  */
.seccion-simula{
	padding-top: 50px;
	padding-bottom: 40px;
}
.quiero-ser h2{
	text-align: center;
	margin-bottom: 40px!important;
}
.quiero-ser p{
	font-size: 17px;
	text-align: left;
}
.red-com{
    height: 79px;
    margin-top: -60px;
    margin-left: 5px;
    margin-right: -38px;
}
.form-solicitud{
	font-size: 22px;
	font-weight: 600;
	color: #333333;
}
.formulario-solicitud{
  text-align: left;
  color: #666666;
  font-size: 14px;
  padding-top:55px;
  padding-bottom: 70px;
}
.formulario-solicitud p.marg-p{
 margin-top: 25px;
 }
 .formulario-solicitud p{
 margin-top: 5px;
 }
input.form-solic{
	padding-top:10px;
	padding-bottom:10px;
	border: 1px solid #d2d2d2;
	font-size: 17px;
	margin-top: 20px;
}
.imagen-captcha{
	margin-top: 35px;
}
/*Select-bootstrap*/
.bootstrap-select .btn{
	font-size: 17px!important;
	color: #a8a8a8;
}
.bootstrap-select>.dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-group > .btn:first-child {
    border-radius: 0px;
}
.bootstrap-select .dropdown-menu > li > a {
    display: block;
    padding: 10px!important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #a8a8a8!important;
    white-space: nowrap;
    font-size: 17px;
}
.bootstrap-select .dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
}
@media only screen and (max-width: 991px) {
.caja-tx-banner{
	position: relative;
	margin-left:auto!important;
	margin-right:auto!important;
	left:0;
	right:0;
	top: 6px;
}
.login-user{
	float: left;
	width: 100%;
}
}
@media only screen and (max-width: 767px) {
.navbar-primero-header{
	background: #fff;
}
.logo-comercios{
	margin:10px auto;
	display: inherit;
}
.bot-principal {
    background: #ffffff;
    width: 100%;
    height: 40px;
    border-bottom: none;
}
ul.menu-principal li.activa{
	background: #fff;
	border-left: none;
	border-right: none;
}
.menu-principal .dropdown-menu {
    float: inherit!important;
    position: relative!important;
}
}